html {
    background-image: url("images/light-cloud.jpg");
    z-index: -1;
  }
  
  
  .scroll-section,
  .scroll-item {
    height: 100vh;
    font-size: 7vh;
  }
  
  .scroll-section {
    overflow: auto;
    -webkit-scroll-snap-type: y mandatory;
        -ms-scroll-snap-type: y mandatory;
            scroll-snap-type: y mandatory;
  }
  
  .scroll-item {
    scroll-snap-align: center;
  }
  
  .scroll-section,
  .scroll-item {
    margin: 0 auto;
  }
  
  .scroll-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: bisque;
    opacity: 50%;
  }
/*   
  .scroll-item:nth-of-type(1) {
    background: bisque;
    opacity: 70%;
  }
  
  .scroll-item:nth-of-type(2) {
    background: #c94e4b;
  }
  
  .scroll-item:nth-of-type(3) {
    background: #4cc1be;
  }
  
  .scroll-item:nth-of-type(4) {
    background: #8360A6;
  }
   */