<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/style.css">

<head>Doomscroll</head>

<body id="app">

    <body class="content">
        <nav>
        </nav>
        <div class="instruction">
            <p>Scroll to begin</p>
        </div>
        <div class="line"></div>
        <div id="heightDisplay"></div>
        <p id="iphoneEmails" class="icons iphoneEmails hide">An email on an iPhone</p>
        <div></div><p id="googleSearch" class="icons googleSearch hide">A google search</p>
        <img id="macbooks" class="icons macbooks hide" src="static/images/macbooks.jpg"></img>
        <img id="appleStore" class="icons appleStore hide" src="static/images/apple_store.jpg"></img>
        <script type="text/javascript" src="static/app.js"></script>
    </body>

</html>