<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/snap-style.css">
<head>Doomscroll with Snap</head>
<body>
    <div class="support-scrollsnap"></div>

    <div class="scroll-section">
        <div class="scroll-item" id="one" data-fetch-url="/on?time=.05">A spam email caught by filters (0.05 g)</div>
        <div class="scroll-item" id="two" data-fetch-url="/on?time=.2">A short email sent from one phone and received on another (0.2 g)</div>
        <div class="scroll-item" id="three" data-fetch-url="/on?time=.4">A short email sent from one laptop and received on another (0.4 g)</div>
        <div class="scroll-item" id="four" data-fetch-url="/on?time=.6" >A Google search (0.6 g)</div>
        <div class="scroll-item" id="five" data-fetch-url="/on?time=.8">A text message that takes 30 seconds to write and 30 seconds to read (0.8 g)</div>
        <div class="scroll-item" id="six" data-fetch-url="/on?time=4">A one-hour Zoom call on a 13" MacBook pro (4 g)</div>
        <div class="scroll-item" id="seven" data-fetch-url="/on?time=6">One hour on a 16" MacBook pro (6 g)</div>
        <div class="scroll-item" id="eight" data-fetch-url="/on?time=6.9">Five minutes browsing the web on a smartphone (6.9 g)</div>
        <div class="scroll-item" id="nine" data-fetch-url="/on?time=8">One hour of the BBC transmitting digital broadcasting  (8 g)</div>
        <div class="scroll-item" id="ten" data-fetch-url="/on?time=9.6">Five minutes browsing the web on a laptop (9.6 g)</div>
        <div class="scroll-item" id="eleven" data-fetch-url="/on?time=12">One hour using a 14" HP Chromebook 14 G5 (12 g)</div>
    </div>
    <script type="text/javascript" src="static/snap-app.js"></script>
    </body>
</html>
