<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/snap-style.css">
<head>Doomscroll with Snap</head>
<body>
    <div class="support-scrollsnap"></div>

    <div class="scroll-section">
        <div class="scroll-item">A spam email caught by filters (.05 g)</div>
        <div class="scroll-item">A short email sent from one phone and received on another (.2 g)</div>
        <div class="scroll-item">A short email sent from one laptop and received on another (.4 g)</div>
        <div class="scroll-item">A Google search (.6 g)</div>
        <div class="scroll-item">A text message that takes 30 seconds to write and 30 seconds to read (.8 g)</div>
    </div>
    </body>
</html>